/*confings the site */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font: normal 20pt Arial;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    grid-template-areas: "A1 A1";
    background-image: url('img/img006.1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    grid-area: "A1";
    grid-column: 1/5;
    grid-row: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto;
    margin-top: 2%;
    padding: 40px;
    box-shadow: 2px 2px 100px 40px black;
    outline-style: solid;
    outline-color: rgb(119, 68, 68);
    margin: 50px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    align-content: center;

}

.logo{
    color: white;
    text-align:center;
    font-size: auto;
    font-family: 'marti';
    text-shadow: 20px 10px 10px black;
    opacity: 0.7;
    filter: brightness(80%);
}
hr{
    width:auto;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    list-style: none;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.733);
    margin: 10px;
    padding: 10px;
    margin-left:auto;
    border-radius: 20px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 15px;

}
.button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: auto;
    gap: 10px;
    text-align: center;
    padding: 15px;
}
.button > input{
    background-color: red;
    padding: 10px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 13px black;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    flex-wrap: wrap; 
}
#menu_bar{
    display: none;
}
#open_menu{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 3px 10px 5px black;
    cursor: pointer;
    margin-top: 4%;
    z-index: 10;
}
#open_menu:hover{
       background-color: red;
       color: white;
       padding: 10px;
       border-radius: 100%;
       box-shadow: 1px 1px 30px 1px rgb(5, 0, 0);
       color: black;
       cursor: pointer;
}
#close{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 1px 1px 30px 1px white;
    color: black;
    cursor: pointer;
    display: none;
    margin-top: 4%;
    
}
p{
    color: white;
    margin: 10px;
    font: normal 30px Arial;
    text-align: justify;
    text-indent: 5px;
    word-spacing: -1px;
    white-space: wrap;
}
.videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.747);
    padding: 20px;
    border-radius: 20px;
}
video{
    background-color: white;
    padding: 3px;
    box-shadow: 1px 1px 40px 10px black;
}
.paragrafos{
    text-align: justify;
    margin: auto;
    padding: 20px;
}
@font-face {
    font-family: 'marti';
    src: url('font/Doctor\ Glitch.otf');
}
@media screen and ( min-width: 1024px){
    .logo{
        margin: auto;
        font-size: 
        6rem;
    }
    
}
@media screen and (min-width:360px) {
    main{
        margin: 20px;
    }
}
@media screen and (max-width:375px) {
    main{
        margin: 20px;
        padding:10px ;
    }
}
